*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Quicksand',sans-serif;
}

body{
    background: linear-gradient(
        135deg,
        #ffe5ec,
        #ffd6e0,
        #fff1f5
    );

    min-height:100vh;
    overflow-y:auto;
}

.slide{
    display:none;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
}

.slide.active{
    display:flex;
}

.card{
    width:90%;
    max-width:500px;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(10px);

    padding:35px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 8px 30px rgba(0,0,0,.1);
}

h1{
    color:#fb6f92;
    margin-bottom:20px;
}

p{
    color:#6d435a;
    line-height:1.8;
}

button{
    margin-top:20px;

    border:none;

    background:#ff8fab;

    color:white;

    padding:12px 25px;

    border-radius:50px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

.btn-group{
    display:flex;
    gap:10px;
    justify-content:center;
    flex-wrap:wrap;
}

.vertical-buttons{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}

.vertical-buttons button{
    width:250px;
}

a{
    text-decoration:none;
}

.meme{
    width:100%;
    border-radius:15px;
    margin-bottom:15px;
}

.hero-photo{
    width:100%;
    max-width:250px;

    margin-bottom:20px;

}

.floating-hearts{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
    overflow:hidden;
    z-index:-1;
}

.floating-hearts span{
    position:absolute;
    bottom:-50px;
    font-size:25px;
    animation:floatUp 12s linear infinite;
    opacity:.6;
}

.floating-hearts span:nth-child(1){
    left:10%;
    animation-delay:0s;
}

.floating-hearts span:nth-child(2){
    left:25%;
    animation-delay:2s;
}

.floating-hearts span:nth-child(3){
    left:45%;
    animation-delay:4s;
}

.floating-hearts span:nth-child(4){
    left:60%;
    animation-delay:6s;
}

.floating-hearts span:nth-child(5){
    left:80%;
    animation-delay:8s;
}

.floating-hearts span:nth-child(6){
    left:90%;
    animation-delay:10s;
}

@keyframes floatUp{
    0%{
        transform:translateY(0);
        opacity:0;
    }

    20%{
        opacity:.7;
    }

    100%{
        transform:translateY(-120vh) rotate(360deg);
        opacity:0;
    }
}